<ul class="main-navigation">
  <li><a href="http://pragprog.com/book/dccar2/build-awesome-command-line-applications-in-ruby-2">Buy Now!</a></li>
  <li><a href="/reviews.html">What They're Saying</a></li>
  <li><a href="/index.html">Table of Contents</a></li>
  <li><a href="/video.html">Talks &amp; Media</a></li>
  <li><a href="http://forums.pragprog.com/forums/200">Discuss</a></li>
  <li><a href="/gems.html">Command-Line Gems</a></li>
  <li><a href="/setup.html">Setup</a></li>
  <li><a href="/overview.html">About</a></li>
</ul>
